.menu{
    display: flex;
    justify-content: space-evenly;
}

.menu-searchContainer{
    align-items: center;,
}
.menu-input--search{
    display: inline-block;
}

.search{
    position: relative;
    right: 25px;
    top: 3px;
}

header{
    /* border: solid forestgreen 1px; */
    width: 100%;
    height: auto;
    background-color: #e5e5e5;
    padding: 72px 150px 22px 152px;
    /* min-width: 1024px; */
    
}

.header-productos{
    /* border: solid fuchsia 1px; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-productos p{
    font-size: 3.2rem;
    font-weight: 700;
}

.header-button{
    width: 163px;
    height: 51px;
    padding: 16px;
    font-size: 1.6rem;
    font-weight: 400;
}

.logo:hover{
    cursor: pointer;
}

.seccion-allProducts{
    background-color: #e5e5e5;
    max-width: 1023px;
    margin: 0 auto;
}

section.seccion{
    margin-top: 0;
}


.product-edit{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 44px;
    padding-right: 12.7px;
}

.product-edit--trash{
    /* background-color: chartreuse; */
    width: 14px;
    height: 18px;
    display: inline-block;
    background-image: url("../assets/brand/trash.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-edit--pencil{
    /* background-color: chartreuse; */
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url("../assets/brand/pencil.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 16px;
}

.product-edit--trash:hover{
    cursor: pointer;
    width: 16px;
    height: 20px;
}

.product-edit--pencil:hover{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.header-button, .product-edit{
    content: none;
    visibility: hidden;
}


section.seccion-uno{
    margin-top: 0;
    padding-top: 0;
}
/* breakpoint */

/* mobile-portrait: min:360px - max:768px; */

@media (min-width: 360px) and (max-width: 768px){

    .menu{
        width: 100%;
        justify-content: space-around;
    }

    .menu-searchContainer{
        width: 30px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .menu-button{
        margin: 0;
    }

    .search{
        position: initial;
        justify-content: center;
        order: -1;
    }

    .login input, button{
        width: 275px;
        height: 41px;
        margin-top: 20px;
        padding: 12px;
        font-size: 1.6rem;
        font-weight: 400;
    }

    header, .login{
        width: 100%;
        /* height: 155px; */
        padding: 0;
        
    }

    .header-productos{
        padding: 32px 32px 16px 32px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-productos p{
        font-size: 3rem;
        font-weight: 700;
        color: #464646;
        margin-bottom: 25px;
    }

    .header-button{
        width: 150px;
        height: 40px;
        font-size: 1.4rem;
        padding:initial;
    }

    .logo:hover{
        cursor: pointer;
    }
    
    .header-button{ 
        content: normal;
        visibility: initial;
        display: none;
        visibility: hidden;
    }

    section.seccion-uno{
        margin-top: 0;
        padding-top: 0;
    }

    .seccion-allProducts{
        min-width: 360px;
        max-width: 479px;
        margin: 0 auto;
    }
    
}
