*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

/* variables para colores */
:root{
    --color-primary: #2A7AE4;
    --color-secondary: #EAF2FD;
    --color-text: #464646;
}

.menu{
    border:  solid firebrick;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-imagotipo{
    border: solid fuchsia 1px;
    display: flex;
    justify-content: space-between;
}


.logo{
    width: 40.02px;
    height: 29.17px;
    display: inline-block;
    background-image: url(/assets/brand/ControlLogo.png);
    background-size: cover;
    background-position: center;
    /* don't repeat the image if it is smaller */
    background-repeat: no-repeat;
}
.menu-input--search{
    display: none;
    visibility: hidden;
}
.isotipo{
    position: relative;
    left: -10px;
}

.isotipo--st{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    color: var(--color-primary);
}

.isotipo--nd{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    color: var(--color-text);
}

.menu-searchButton{
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    /* justify-content: space-between; */
}

.search{
    width: 16.5px;
    height: 16.5px;
    display: inline-block;
    background-image: url(/assets/brand/search2.png);
    background-size: cover;
    background-position: center;
    /* don't repeat the image if it is smaller */
    background-repeat: no-repeat;
    margin-left: 10px;
}

.menu-button{
    width: 133px;
    height: 4rem;
    padding: 12px, 16px, 12px, 16px;
    border-radius: 0;
    border: solid var(--color-primary) 1px;
    background-color: white;
    color: var(--color-primary);
}

header{
    width: 100%;
    height: 181px;
    /* border: solid fuchsia 1px; */
}


.header-background--img{    
    position: relative;
}


.header-promotion{
    position: absolute;
    width: 100%;
    height: 100px;
    /* border: solid chartreuse; */
    color: white;
    padding: 8px 12px 2px 12px;
    
    top: 190px;

}

.header-promotion h1{
    font-size: 2.2rem;
    color:white;
    font-weight: 700;
    /* line-height: 26; */
}

.header-promotion p{
    font-size: 1.4rem;
    color:white;
    font-weight: 600;
}

.header-button{
    width: 118px;
    height: 40px;
    padding: 22px, 16px, 12px, 16px;
    border-radius: 0;
    margin-top: 5px;

    background-color: var(--color-primary);
    border: none;
    color: white;
    font-size: 1.4rem;
}

section.seccion-uno{
    /* border: solid 1px firebrick; */
    width: 100%;
    height: auto;
    padding: 16px;
    margin-top: 16px;
}

.seccion-n--titleLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid darkblue 1px; */
    margin-bottom: 16px;
}

.seccion-n--title{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--color-text);
    display: inline;
}

.seccion-uno a{
    font-size: 1.4rem;
    color: var(--color-primary);
    font-weight:  700;
    text-decoration: none;
}

.seccion-verTodo{
    width: 10.7px;
    height: 10.7px;
    display: inline-block;
    background-image: url(/assets/arrowVector.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.seccion--productos{
    width: 100%;
    /* border: solid rgb(9, 255, 0) 1px; */
    display: flex;
    flex-wrap: wrap;
    margin:  0 auto;
    justify-content: space-between;
}

.seccion-productos--articulo{
    line-height: 1.4;
}

.seccion-productos--articulo img{
    margin-top: 16px;
}


.product-title{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-text);
}

.product-price{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-text);
}

/* section number two */
section.seccion-dos{
    /* border: solid 1px firebrick; */
    width: 100%;
    height: auto;
    padding: 16px;
    /* margin-top: 16px; */
}

.seccion-dos a{
    font-size: 1.4rem;
    color: var(--color-primary);
    font-weight:  700;
    text-decoration: none;
}

section.seccion-tres{
    /* border: solid 1px firebrick; */
    width: 100%;
    height: auto;
    padding: 16px;
    margin-top: 16px;
}

.seccion-tres a{
    font-size: 1.4rem;
    color: var(--color-primary);
    font-weight:  700;
    text-decoration: none;
}

footer{
    /* border: solid firebrick 1px; */
    background-color: var(--color-secondary);
    padding: 31px 0;
}

.footer-logo{
    /* border: solid 1px darkgoldenrod; */
    display: inline-flex;
    width: 100%;
    height: 44px;
    padding: 6px 12px 6px 12px;
    align-items: center;
    /* vertical-align: bottom; */
}

.footer-logo .logo{
    margin-left: 87px;
}

.footer-logo .isotipo{
    margin-left: 12px;
}

.contacto ul{
    padding-top: 31.75px;
    padding-bottom: 31.75px;
    text-align: center;
    line-height: 2;
}

.contacto ul > li {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-text);
}

section.formulario{
    width: 100%;
    height: auto;
    /* border: solid fuchsia 1px; */
    /* padding-left: 16px;
    padding-right: 16px; */
    padding: 0 16px;
    padding-bottom: 16px;
}

.formulario p{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-text);
    margin-bottom: 8px;
}

.formulario input, textarea{
    width: 100%;
    height: 55px;
    padding: 13px 0 0 13px;
}

.formulario textarea{
    height: 82px;
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 26px 0 0 13px;
}

.formulario-input--title, .formulario-input--title2{
    font-size: 1.2rem;
    color: #A2A2A2;
    font-weight: 400;
    position: relative;
    top: 18px;
    left: 5px;
}
.formulario-input--title2{
    position: relative;
    top: 36px;
    left: 5px;
}

.espaciado{
    letter-spacing: 1px;
}

section.devInfo{
    /* border: solid 2px darkcyan; */
    width: 100%;
    height: 102px;
    padding: 32px;
    background: #ffffff;
}

.devInfo h3, p{
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    color: var(--color-text);
}

/* breakpoints */

/* tableta */

@media (min-width: 576px) and (max-width: 767px) {
    .menu{
        border:  solid rgb(34, 178, 87);
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;
        /* justify-content: space-around; */
    }

    .logo{
        width: 40.02px;
        height: 29.17px;
        display: inline-block;
        background-image: url(/assets/brand/ControlLogo.png);
        background-size: cover;
        background-position: center;
        /* don't repeat the image if it is smaller */
        background-repeat: no-repeat;
    }

    .isotipo{
        position: relative;
        left: -110px;
    }

    .isotipo--st{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 600;
        font-size: 2.2rem;
        color: var(--color-primary);
    }

    .isotipo--nd{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 600;
        font-size: 2.2rem;
        color: var(--color-text);
    }

    .menu-searchButton{
        display: flex;
        flex-direction: row-reverse;
    }

    .search{
        width: 16.5px;
        height: 16.5px;
        display: inline-block;
        background-image: url(/assets/brand/search2.png);
        background-size: cover;
        background-position: center;
        /* don't repeat the image if it is smaller */
        background-repeat: no-repeat;
    }

    .menu-button{
        width: 133px;
        height: 4rem;
        padding: 12px, 16px, 12px, 16px;
        border-radius: 0;
        border: solid var(--color-primary) 1px;
        background-color: white;
        color: var(--color-primary);
    }


}

